@import "../../assets/mixins";

:host {
  flex-shrink: 0;
  display: flex;
  flex-grow: 1;
}

.login-cover {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
}

.login-form-container {
  background: $color-primary;
  flex-basis: 400px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input {
    border-radius: 8px;
    padding: 10px;
    margin: 15px;
  }

  button {
    padding: 10px;
    border-color: $color-secondary;
    background: $color-secondary;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 15px 0;
  }
}
